@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 164 37% 92%;
    --foreground: 222 11% 18%;

    --card: 0 0% 97%;
    --card-foreground: 222 11% 18%;

    --popover: 0 0% 97%;
    --popover-foreground: 222 11% 18%;

    --primary: 164 37% 66%;
    --primary-foreground: 222 11% 18%;

    --secondary: 24 100% 64%;
    --secondary-foreground: 0 0% 97%;

    --muted: 0 0% 97%;
    --muted-foreground: 222 11% 18%;

    --accent-blue: 212 37% 66%;
    --accent-blue-foreground: 0 0% 97%;

    --accent-yellow: 53 100% 82%;
    --accent-yellow-foreground: 222 11% 18%;

    --destructive: 0 100% 64%;
    --destructive-foreground: 0 0% 97%;

    --border: 222 11% 18%;
    --input: 222 11% 18%;
    --ring: 0 0% 97%;

    --radius: 0.5rem;

    --success: 121 39% 68%;
    --info: 177 60% 69%;
    --warning: 26 80% 63%;
  }

  .dark {
    --background: 222 11% 18%;
    --foreground: 0 0% 97%;

    --card: 222 11% 18%;
    --card-foreground: 0 0% 97%;

    --popover: 222 11% 18%;
    --popover-foreground: 0 0% 97%;

    --primary: 164 37% 66%;
    --primary-foreground: 0 0% 97%;

    --secondary: 24 100% 64%;
    --secondary-foreground: 0 0% 97%;

    --muted: 222 11% 18%;
    --muted-foreground: 0 0% 97%;

    --accent-blue: 212 37% 66%;
    --accent-blue-foreground: 222 11% 18%;

    --accent-yellow: 53 100% 82%;
    --accent-yellow-foreground: 222 11% 18%;

    --destructive: 0 100% 64%;
    --destructive-foreground: 0 0% 97%;

    --border: 0 0% 97%;
    --input: 0 0% 97%;
    --ring: 222 11% 18%;

    --radius: 0.5rem;

    --success: 121 39% 68%;
    --info: 177 60% 69%;
    --warning: 26 80% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.rdp-vhidden {
  @apply hidden;
}

/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Hide default scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
}

/* Remove scrollbar buttons for Webkit browsers */
::-webkit-scrollbar-button {
  display: none;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track transparent */
}

/* Scrollbar handle (the moving part) */
::-webkit-scrollbar-thumb {
  background-color: hsl(164 37% 66%); /* Gray color */
  border-radius: 4px; /* Slightly rounded corners */
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: thin; /* Make it thin */
  scrollbar-color: hsl(164 37% 66%) transparent; /* Thumb gray and track transparent */
}

/* Hide scrollbar for Internet Explorer and Edge */
body::-ms-overflow-style {
  display: none; /* Hide scrollbar */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, newer versions of Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

/* .card-fade::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-image: linear-gradient(
    to bottom,
    hsl(0 0% 97%),
    hsla(164 37% 92% / 10%)
  );
  pointer-events: none;
  z-index: 9999;
} */

.card-fade::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-image: linear-gradient(
    to top,
    hsl(0 0% 97%),
    hsla(164 37% 92% / 10%)
  );
  pointer-events: none;
  z-index: 99;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #89c9b8;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #89c9b8, 0 0 5px #89c9b8;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #89c9b8;
  border-left-color: #89c9b8;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
