@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 222 11% 23%;

    --card: 0 0% 96%;
    --card-foreground: 222 11% 23%;

    --popover: 0 0% 96%;
    --popover-foreground: 222 11% 23%;

    --primary: 164 37% 66%;
    --primary-foreground: 0 0% 96%;

    --secondary: 24 100% 64%;
    --secondary-foreground: 0 0% 96%;

    --muted: 0 0% 96%;
    --muted-foreground: 222 11% 23%;

    --accent-blue: 212 37% 66%;
    --accent-blue-foreground: 222 11% 23%;

    --accent-yellow: 53 100% 82%;
    --accent-yellow-foreground: 222 11% 23%;

    --destructive: 0 100% 64%;
    --destructive-foreground: 0 0% 96%;

    --border: 222 11% 23%;
    --input: 222 11% 23%;
    --ring: 0 0% 96%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 11% 23%;
    --foreground: 0 0% 96%;

    --card: 222 11% 23%;
    --card-foreground: 0 0% 96%;

    --popover: 222 11% 23%;
    --popover-foreground: 0 0% 96%;

    --primary: 164 37% 66%;
    --primary-foreground: 0 0% 96%;

    --secondary: 24 100% 64%;
    --secondary-foreground: 0 0% 96%;

    --muted: 222 11% 23%;
    --muted-foreground: 0 0% 96%;

    --accent-blue: 212 37% 66%;
    --accent-blue-foreground: 222 11% 23%;

    --accent-yellow: 53 100% 82%;
    --accent-yellow-foreground: 222 11% 23%;

    --destructive: 0 100% 64%;
    --destructive-foreground: 0 0% 96%;

    --border: 0 0% 96%;
    --input: 0 0% 96%;
    --ring: 222 11% 23%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
